---
import Col from '../../ui/Col.astro'
import Row from '../../ui/Row.astro'
import Section from '../../ui/Section.astro'
---

<Section
	><Row>
		<Col span="12">
			<h1 class="mb-4">Lokalizacja</h1>
		</Col>
	</Row>
	<Row>
		<Col span="6" classes="relative flex flex-col items-start">
			<h3 class="mb-1">Adres firmy</h3>
			<iframe
				class="h-full min-h-56 w-full"
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.8765462588544!2d20.04327649370261!3d50.44340013718376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4717a87565800979%3A0xdc3fc9d533faea0c!2sPrzybys%C5%82awice%2060%2C%2032-241%20Przybys%C5%82awice!5e0!3m2!1sen!2spl!4v1744556304569!5m2!1sen!2spl"
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</Col>
		<Col span="6" classes="relative flex flex-col items-start">
			<h3 class="mb-1">Plac</h3>
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2543.7778099098746!2d20.01619407717702!3d50.3893403917611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNTDCsDIzJzIxLjYiTiAyMMKwMDEnMDcuNiJF!5e0!3m2!1sen!2spl!4v1743972017692!5m2!1sen!2spl"
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"
				class="h-full min-h-56 w-full"></iframe>
		</Col></Row
	></Section
>
